<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614623463433-v87gl46t7u6doqtaupn7qve90d7v0ecr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614623463433-v87gl46t7u6doqtaupn7qve90d7v0ecr</string>
	<key>API_KEY</key>
	<string>AIzaSyBRAPxq_vO_88_PfXf1q5NZEKe_n_alMTs</string>
	<key>GCM_SENDER_ID</key>
	<string>614623463433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.almeida.flutterEcommerce</string>
	<key>PROJECT_ID</key>
	<string>lojavirtual-bb429</string>
	<key>STORAGE_BUCKET</key>
	<string>lojavirtual-bb429.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614623463433:ios:21e693f3185816fa8550d8</string>
</dict>
</plist>